<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://unpkg.com/@phosphor-icons/web"></script>
		<script src="https://cdn.tailwindcss.com"></script>
		<title>Reset your password</title>
		<style>
			@import
			url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500&display=swap");
			:root { font-synthesis: none; text-rendering: optimizeLegibility;
			-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
			-webkit-text-size-adjust: 100%; --main: #20da91; --accent: #f65ffa;
			--highlight: #f6fb61; --light: #f5f5f8; --mid: #dde0e7; --dark: #29292b; }
			body { font-family: "Jost", sans-serif; background-color: #f4f4f4; margin: 0;
			padding: 0; } header { text-align: center; padding: 20px 0; }
		</style>
	</head>

	<body class="main">
		<header class=""></header>
		<main class=""></main>
		<footer class=""></footer>
	</body>

</html>